html{
  width: 100%;
  background-image: url("images/background-html.jpg");
}

body {
  width: 80%;
  margin: auto;
  background-color: #ffffffe8;
}

/* ------ Navigation ------ */

div.header {
  position: relative;
  width: 100%;
  height: 15vh;
  background: url(images/welcome.jpg);
  background-size: inherit;
  z-index: 100;
}

div#home-header{
  height: 100vh;
  background: url(images/welcome.jpg);
  background-size: cover;
  width: 100%;
}

div#home-header img{
  margin: 350px;
  margin-top: 300px;
}

div.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 0;
  margin-left: 30px;
  color: white;
  font-weight: bold;
  font-size: 33px;
  letter-spacing: 3px;
  transform: translate(20px, -27px);
  font-variant: petite-caps;
  font-family: georgia;
}

div.header nav {
  position: fixed;
  width: 80%;
  line-height: 60px;
  font-family: Helvetica;
}

div.header nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 0.3s;
}

div.header nav.black ul {
  background: black;
}

div.header nav ul li {
  display: inline-block;
  padding: 16px 40px;
  font-variant: petite-caps;
}

div.header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

div.menu-icon {
  line-height: 60px;
  width: 100%;
  background: black;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: black;
  display: none;
}

li#selected{
  font-style: italic;
  font-size: 2em;
}

/* --xxx-- Navigation --xxx-- */

/* ----- Main content ------ */

div.home{
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.main-content{
  margin: 3em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 90%;
}

div.welcome h2{
  text-align: center;
  font-size: 4em;
  font-style: italic;
  font-family: georgia;
}

div.main-content img{
  display: flex;
  float: right;
  margin: 40px;
  margin-top: 20px;
  margin-left: 180px;
}

div.main-content a, div.content a{
  text-decoration: none;
  color: black;
}

/* --xxx-- Main content --xxx-- */


/* ---- Recommendations ---- */

/* Menu */

div.content-recomm{
  width: 100%;
  background: white;
}

div.films{
  width: 65%;
  float: right;
  margin: 30px;
}

div.menu-recomm{
  float: left;
  margin: 50px;
  list-style: none;
  text-decoration: none;
  width: 15%;
  min-width: 250px;
  border-radius: 10px;
  overflow: hidden;
}

.item{
  border-top: 1px solid #8e44ad;
  overflow: hidden;
}

.option{
  text-decoration: none;
  display: block;
  padding: 16px 20px;
  background: #9b59b6;
  color: white;
}

.submenu{
  background: black;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s;
}

.submenu a{
  text-decoration: none;
  display: block;
  padding: 16px 26px;
  color: white;
  font-size: 14px;
  margin: 4px 0px;
  position: relative;
}

.submenu a::before{
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #9b59b6;
  left: 0;
  top: 0;
  transition: 0.2s;
  opacity: 0;
}

.submenu a:hover::before{
  opacity: 1;
}

.item:target .submenu{
  max-height: 25em;
}

/* -x- Menu -x- */

.images{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  height: 280px;
  width: 190px;
  position: relative;
}

div.images img{
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

div.images h6, div.images p{
  position: absolute;
  width: 100%;
  z-index: 1;
  color: white;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
}

div.images:hover img{
  filter: blur(2px) brightness(60%);
  box-shadow: 0px, 0px, 16px grey;
}

div.images:hover h6, div.images:hover p{
  opacity: 1;
}

div.images h6{
  top: 30%;
  font-size: 18px;
}

div.images p{
  top: 50%;
}

/* --xxx-- Recommendations --xxx-- */

/* --------- About me --------- */

div.content{
  margin: 80px;
  margin-top: 10px;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

div.content p{
  text-indent: 20px;
}

div.content img#about-image{
  display: flex;
  float: right;
  margin: 30px;
}

div.welcome-gif{
  margin-top: 30px;
  background-image: url(images/background5.jpg);
  background-size: contain;
}

div.welcome-gif img#welcome{
  margin: auto;
  display: flex;
}

/* ---xxx--- About me ---xxx--- */

/* --------- Contact --------- */

div.container-contact{
  padding-bottom: 50px;
}

div.container-contact h1{
  margin: 20px;
  padding: 0px;
  text-align: center;
  font-style: italic;
}

form#recommend{
  margin: auto;
  width: 400px;
  background: white;
  height: 480px;
  padding: 20px 40px;
  border-radius: 20px;
  box-sizing: border-box;
  background-image: repeating-linear-gradient(140deg, white, #83017f, white);
  background-image: radial-gradient(#d299cd63, #d299cd, #9c3b96);
  display: block;
}

div.input{
  border-bottom: 2px solid #05050561;
  margin: 30px 0px;
}

div.input input{
  font-size: 15px;
  color: black;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding-left: 5px;
  height: 40px;
}

.button{
  display: block;
  width: 120px;
  border-radius: 25px;
  height: 40px;
  border: none;
  background: linear-gradient(120deg, blue, purple);
  background-size: 200%;
  color: white;
  outline: none;
  cursor: pointer;
  transform: translate(80%);
  transition: background-position 0.5s;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
}

.button:hover{
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}

div.final-text{
  margin: 0;
  display: none;
  text-align: center;
  padding: 0;
}

div.final-text p{
  width: auto;
  cursor: pointer;
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 30px;
}

/* ---xxx--- Contact ---xxx--- */

/* ---------- Footer ---------- */

footer{
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #830180;
}

footer a{
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  color: white;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0px 8px;
}

footer a i{
  transition: 0.3s;
}

footer a:hover i{
  transform: scale(2.2);
}

/* ---xxx---- Footer ---xxx---- */
